#header{
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
}
#preview {
    position: absolute;
    right: 20px;
}

#header button{
    width: 10em;
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid gray;
}

#content {
    counter-reset: field 0;
}   

.disable {
    pointer-events: none;
}

/* #content .ui-selecting{
    background-color: yellow;
}

#content .ui-selected {
    background-color: white;
} */

.field h3{
    counter-increment: field;
    display: inline-block;
    margin-right: 5px;
}

.field h3::before{
    content: counter(field)'.';
}

.field:hover{
    border: 1px solid red;
}


.field{
    border: 1px solid white;
}

#dialog{
    text-align: center;
}